streamlit==1.37.1
pandas==2.2.2
plotly==5.13.0
wordcloud==1.9.3
matplotlib==3.9.2
lime==0.2.0.1
torch==2.3.1
numpy==1.26.4
transformers==4.41.2
streamlit-aggrid==1.0.5
scikit-learn==1.5.1
google-cloud-storage==2.18.2